#btn\ edit-delete {
    left: 10px;
}

.update-account-btn,
.delete-account-btn,
.update-account-password-btn
{
    margin-left: 7px;
}

form.signup-form,
form.shoppinglist-create,
form.shoppinglist-edit,
form.shopping-item-create,
form.shopping-item-edit,
form.account-edit-form{
    padding: 40px;
}

.well.account-info {
    padding-bottom: 40px;
}

.thumbnail.signup,
.thumbnail.account-edit,
.thumbnail.shoppinglist-create,
.thumbnail.shoppinglist-edit,
.thumbnail.shopping-item-create,
.thumbnail.shopping-item-edit{
    margin-top: 100px;
}

.shoppinglist-box {
    height: 92px;
}